<h1><%= fa_icon "book" %>Sujets de discussion</h1>

<%= form_tag(topics_path, method: :get) do %>
  <div class="row">
    <div class="columns medium-4">
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), prompt: "Par catégorie" %>
    </div>
    <div class="columns medium-6">
      <%= text_field_tag :search, params[:search], placeholder: "Par mot clef" %>
    </div>
    <div class="columns medium-2">
      <%= submit_tag "Filtrer", name: nil, class: "button" %>
    </div>
  </div>
<% end %>

<table class="topics-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <% next unless topic.published? || can_manage?(topic) %>
      <tr>
        <td><%= topic.id %></td>
        <td><%= topic.title %></td>
        <td><%= topic.topic_answers.length %> réponse(s)</td>
        <td>
          <div class="button-group">
            <%= link_to 'Voir', topic, class: "button secondary" %>
            <% if can_manage?(topic) %>
              <%= link_to 'Editer', edit_topic_path(topic), class: "button success" %>
              <%= link_to 'Supprimer', topic, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "button alert" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @topics, renderer: FoundationPagination::Rails %>

<%= link_to('Nouveau sujet', new_topic_path, class: "button") if user_signed_in? %>
