<h1><%= @topic.title %></h1>
<%= simple_format(@topic.content) %>

<%= link_to "Editer", edit_topic_path(@topic) %>
<%= link_to 'Retour index', topics_path %>

<% if @topic_answers.present? %>
  <h6 class="subheader"><%= @topic_answers.count %> Réponse(s)</h6>
  <%= render "topic_answers/index" %>
<% end %>

<%= render "topic_answers/form" %>

<% if @topic.picture && @topic.picture.file %>
  <% content_for(:full_image) do %>
    <%= image_tag(@topic.picture.file.url(:original), alt: @topic.picture.name) %>
  <% end %>
<% end %>
