<h1><%= @topic.title %></h1>

<% if @topic.picture && @topic.picture.file %>
  <%= image_tag(@topic.picture.file.url(:original), alt: @topic.picture.name) %>
<% end %>

<div class="row topic-wrapper">
  <div class="small-1 column vote">
    <%= link_to upvote_topic_path(@topic), class: "button success tiny", method: :post do %>
      <%= fa_icon "plus" %>
    <% end %>
    <div>
      <%= @topic.get_upvotes.size - @topic.get_downvotes.size %>
    </div>

    <%= link_to downvote_topic_path(@topic), class: "button alert tiny", method: :post do %>
      <%= fa_icon "minus" %>
    <% end %>
  </div>
  <div class="small-11 columns">
    <%= (@topic.content) %>
  </div>
</div>

<%= link_to "Editer", edit_topic_path(@topic) %>
<%= link_to 'Retour index', topics_path %>

<% if @topic_answers.present? %>
  <h6 class="subheader"><%= @topic_answers.count %> Réponse(s)</h6>
  <%= render "topic_answers/index" %>
<% end %>

<%= render "topic_answers/form" %>
