Ma page de profil

<%= simple_form_for @user do |form| %>

  <div class="form-inputs">
    <%= form.input :firstname %>
    <%= form.input :lastname %>

    <%= form.input :email %>
    <%= form.input :birthday %>

    <%= form.simple_fields_for :profile, @user.profile do |p_form| %>

      <%= p_form.input :description %>
      <%= p_form.input :country %>
      <%= p_form.input :title %>
      <%= p_form.input :website %>

    <% end %>

    <%= form.simple_fields_for :avatar do |a_form| %>
      <%= a_form.input :name %>
      <%= a_form.input :file, as: :file %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= form.button :submit, "Valider" %>
 </div>

<% end %>
