<%= simple_form_for(@topic_answer, url: topic_answer_form_url) do |f| %>
  <fieldset class="fieldset">
    <legend><%= @topic_answer.new_record? ? "Répondre" : "Editer la réponse" %></legend>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :published %>
    </div>

    <div class="form-actions">
      <%= submit_button(f) %>
    </div>
  </fieldset>
<% end %>
